<nz-table
nzShowSizeChanger
[nzData]="data"
[nzFrontPagination]="false"
[nzLoading]="loading"
[nzTotal]="total"
[nzPageSize]="pageSize"
nzSize="small"
[nzPageIndex]="pageIndex"
(nzQueryParams)="onQueryParamsChange($event)"
>
<thead>
  <tr>
    <th *ngFor="let header of headerAndKeyValue" [nzColumnKey]="header.key" [nzSortFn]="true">{{ header.label }}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let res of data; let i = index;" (click)="selectItem(res)">
    <td *ngFor="let value of headerAndKeyValue">{{ res[value.key] }}</td>
  </tr>
</tbody>
</nz-table>